<!DOCTYPE html>
<html>
  <head>
    <title>TodoRailsAng</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="<%= active_if_current(root_path)%>">
            <%= link_to "Home", root_path %>
          </li>
          <li class="<%=active_if_current(new_user_registration_path)%>">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
          <li class="<%=active_if_current(new_user_session_path)%>">
            <%= link_to "Sign in", new_user_session_path %>
          </li>
        </ul>
        <h3>
          Todo List App!
        </h3>  
      </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
